# Server Port
PORT=5000

# MongoDB Connection String (leave blank to automatically use zero-config embedded in-memory MongoDB)
# Or configure local / Atlas instance, e.g.:
# MONGODB_URI=mongodb://127.0.0.1:27017/lost_found_campus
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/lost_found?retryWrites=true&w=majority
MONGODB_URI=

# JWT Secret Key for Session Authentication
JWT_SECRET=super_secret_lost_found_campus_jwt_key_2026_xyz!

# Environment
NODE_ENV=development
